<!DOCTYPE html>
<html>
<head>
    <title>Video Stream</title>
    <style>
        body { text-align: center; }
        #video-container {
            width: 600px;
            height: 450px;
            margin: auto;
            border: 1px solid black;
        }
        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Ejemplo Modelo - Streaming</h1>
    <div id="video-container">
        <img src="/video" />
    </div>

{{request}}


</body>
</html>
